In [3]:
import pandas as pd
import numpy as np

#### 1、删除特定列里面含有空值所对应的行

In [16]:
df = pd.DataFrame(np.random.randn(5,6))
# Make a few areas have NaN values
df.iloc[0,3] = np.nan
df.iloc[1,3] = np.nan
df.iloc[3,3:5] = np.nan
df.iloc[[0,1,2],0] = np.nan
df

          0         1         2         3         4         5
0       NaN  0.657816 -1.969679       NaN -1.079447  0.199598
1       NaN -0.374137  1.274337       NaN -0.447614  0.584588
2       NaN  1.333344 -0.268002 -0.383941  0.536393 -0.074323
3  0.205290  0.424644  0.072685       NaN       NaN  1.936753
4 -0.643492  0.407161  0.475464 -0.654293 -1.599027  0.006368

In [22]:
# 删掉index=3的列中为空值的行
df_new = df.drop(axis=0, index=df[df.iloc[:,3].isnull()==True].index.tolist())
df_new

          0         1         2         3         4         5
2       NaN  1.333344 -0.268002 -0.383941  0.536393 -0.074323
4 -0.643492  0.407161  0.475464 -0.654293 -1.599027  0.006368

In [23]:
df[df.iloc[:,3].isnull()==True].index.tolist()

[0, 1, 3]