## pandas_tricks

In [1]:
import pandas as pd
import numpy as np
import copy

### 1、删除特定列里面含有空值所对应的行

In [2]:
df_1 = pd.DataFrame(np.random.randn(5,6))
# Make a few areas have NaN values
df_1.iloc[0,3] = np.nan
df_1.iloc[1,3] = np.nan
df_1.iloc[3,3:5] = np.nan
df_1.iloc[[0,1,2],0] = np.nan
df_1

          0         1         2         3         4         5
0       NaN -0.224300 -2.242189       NaN -0.496024 -1.461189
1       NaN -1.030125  0.400544       NaN  1.347275 -0.689172
2       NaN -1.447827 -0.005127  1.266619  1.503325 -0.839098
3  0.043024 -0.557149  0.173132       NaN       NaN  1.047139
4  1.540910  0.618031  0.060260  1.194392  1.665631  0.803929

In [3]:
df_1.iloc[:, 3].isnull().values==True

array([ True,  True, False,  True, False], dtype=bool)

In [4]:
df_1.iloc[:, 3].isnull()==True

0     True
1     True
2    False
3     True
4    False
Name: 3, dtype: bool

In [5]:
df_1[df_1.iloc[:, 3].isnull().values==True].index

Int64Index([0, 1, 3], dtype='int64')

In [15]:
# 删掉index=3的列中为空值的行[isnull()后加不加values对于index得到的结果都是一样的]
df_1_new = df_1.drop(axis=0, index=df_1[df_1.iloc[:, 3].isnull().values==True].index.tolist())
df_1_new

          0         1         2         3         4         5
2       NaN -1.113961 -0.525735  2.385166  0.790376  0.113545
4 -1.398332  0.538577 -0.047908  0.846892 -0.658332 -1.107418

In [16]:
# 删除多列中任意一列有空值对应的行 index=3 和 index=0 的列
delete_index = df_1[df_1.iloc[:, 3].isnull()==True].index.tolist() +  df_1[df_1.iloc[:, 0].isnull()==True].index.tolist()
df_1_new_1 = df_1.drop(axis=0, index=delete_index)  # index接一个set也是可以的
df_1_new_1

          0         1         2         3         4         5
4 -1.398332  0.538577 -0.047908  0.846892 -0.658332 -1.107418

In [19]:
l_1 = df_1[df_1.iloc[:, 3].isnull()==True].index.tolist()  +  df_1[df_1.iloc[:, 0].isnull()==True].index.tolist()
l_1 = set(l_1)
l_1

{0, 1, 2, 3}

### 2、删除含特定值的列

In [2]:
a = np.array([[1,2,3], [4,5,6], [7,8,9]])
df_2 = pd.DataFrame(a, index=['row0', 'row1', 'row2'], columns=list('ABC'))

In [3]:
df_2

      A  B  C
row0  1  2  3
row1  4  5  6
row2  7  8  9

In [4]:
# 选出某列中含有特定值的行
df_2[df_2['B'].isin([8])]

      A  B  C
row2  7  8  9

In [5]:
# 选出某行含有特定值的列
cols = [x for i, x in enumerate(df_2.columns) if 3 in list(df_2[x])]
cols

['C']

In [17]:
# 选出含有空值的列名(方法一：首先将空值填充成一个特殊值，然后找到含这个特殊值的列；方法二、直接找到含空值的列！【下面代码】)

In [7]:
df_2_nan = copy.deepcopy(df_2)

In [8]:
df_2_nan.iloc[1,1] = np.nan
df_2_nan.iloc[1,2] = np.nan

In [24]:
df_2_nan

      A    B    C
row0  1  2.0  3.0
row1  4  NaN  NaN
row2  7  8.0  9.0

In [30]:
list(df_2_nan['B'])

[2.0, nan, 8.0]

In [13]:
list(np.isnan(df_2_nan['B']))

[False, True, False]

In [10]:
np.nan in list(df_2_nan['B'])

False

In [18]:
# 直接找到含有空值的列
cols_contain_nan = [x for i, x in enumerate(df_2_nan.columns) if True in list(np.isnan(df_2_nan[x]))]
cols_contain_nan

['B', 'C']