In [2]:
import pandas as pd
import numpy as np

#### 1、删除特定列里面含有空值所对应的行

In [34]:
df_1 = pd.DataFrame(np.random.randn(5,6))
# Make a few areas have NaN values
df_1.iloc[0,3] = np.nan
df_1.iloc[1,3] = np.nan
df_1.iloc[3,3:5] = np.nan
df_1.iloc[[0,1,2],0] = np.nan
df_1

          0         1         2         3         4         5
0       NaN  0.519821 -0.777157       NaN -0.589549  0.126648
1       NaN -2.349895 -1.087744       NaN  0.368297 -0.705414
2       NaN  0.915442  0.878765  2.724071  0.108964 -3.638358
3 -0.538772  1.659234  0.978637       NaN       NaN -1.015911
4 -1.335032 -0.844248  0.744692 -0.942125 -0.248994 -0.700211

In [6]:
# 删掉index=3的列中为空值的行
df_1_new = df_1.drop(axis=0, index=df_1[df_1.iloc[:, 3].isnull()==True].index.tolist())
df_1_new

          0         1         2         3         4         5
2       NaN  1.010643 -0.395361  0.028443  1.571329 -1.838263
4 -0.222692 -3.409198 -0.042364  0.373714 -0.936786  2.014889

In [35]:
# 删除多列中任意一列有空值对应的行 index=3 和 index=0 的列
delete_index = df_1[df_1.iloc[:, 3].isnull()==True].index.tolist() +  df_1[df_1.iloc[:, 0].isnull()==True].index.tolist()
df_1_new_1 = df_1.drop(axis=0, index=delete_index)  # index接一个set也是可以的
df_1_new_1

          0         1         2         3         4         5
4 -1.335032 -0.844248  0.744692 -0.942125 -0.248994 -0.700211

In [36]:
l_1 = df_1[df_1.iloc[:, 3].isnull()==True].index.tolist()  +  df_1[df_1.iloc[:, 0].isnull()==True].index.tolist()
l_1 = set(l_1)
l_1

{0, 1, 2, 3}

In [26]:
df[df.iloc[:,3].isnull()==True].index.tolist()

[0, 1, 3]