## pandas_tricks

In [1]:
import pandas as pd
import numpy as np

#### 1、删除特定列里面含有空值所对应的行

In [2]:
df_1 = pd.DataFrame(np.random.randn(5,6))
# Make a few areas have NaN values
df_1.iloc[0,3] = np.nan
df_1.iloc[1,3] = np.nan
df_1.iloc[3,3:5] = np.nan
df_1.iloc[[0,1,2],0] = np.nan
df_1

          0         1         2         3         4         5
0       NaN -0.420689  0.274448       NaN -0.130877  1.054844
1       NaN  1.372394 -1.378076       NaN -0.453822 -0.542372
2       NaN -1.113961 -0.525735  2.385166  0.790376  0.113545
3  2.084967  0.567049  1.800301       NaN       NaN -1.240904
4 -1.398332  0.538577 -0.047908  0.846892 -0.658332 -1.107418

In [12]:
df_1.iloc[:, 3].isnull().values==True

array([ True,  True, False,  True, False])

In [4]:
df_1.iloc[:, 3].isnull()==True

0     True
1     True
2    False
3     True
4    False
Name: 3, dtype: bool

In [13]:
df_1[df_1.iloc[:, 3].isnull().values==True].index

Int64Index([0, 1, 3], dtype='int64')

In [15]:
# 删掉index=3的列中为空值的行[isnull()后加不加values对于index得到的结果都是一样的]
df_1_new = df_1.drop(axis=0, index=df_1[df_1.iloc[:, 3].isnull().values==True].index.tolist())
df_1_new

          0         1         2         3         4         5
2       NaN -1.113961 -0.525735  2.385166  0.790376  0.113545
4 -1.398332  0.538577 -0.047908  0.846892 -0.658332 -1.107418

In [16]:
# 删除多列中任意一列有空值对应的行 index=3 和 index=0 的列
delete_index = df_1[df_1.iloc[:, 3].isnull()==True].index.tolist() +  df_1[df_1.iloc[:, 0].isnull()==True].index.tolist()
df_1_new_1 = df_1.drop(axis=0, index=delete_index)  # index接一个set也是可以的
df_1_new_1

          0         1         2         3         4         5
4 -1.398332  0.538577 -0.047908  0.846892 -0.658332 -1.107418

In [19]:
l_1 = df_1[df_1.iloc[:, 3].isnull()==True].index.tolist()  +  df_1[df_1.iloc[:, 0].isnull()==True].index.tolist()
l_1 = set(l_1)
l_1

{0, 1, 2, 3}